spring:
  datasource:
    url: jdbc:postgresql://database:5432/postgres
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true

server:
  port: 9000